html{
    max-width: 100%;
    overflow-x: hidden;
}
header {
    font-size: 72px;
    width: 100%;
}
h1 {
    background-color: #2c2c2c;
    margin-bottom: 10px;
    color: #e0e0e0;
    text-align: center;
    width: 100%;
    display: block;
    margin: auto;
    left: 0 auto;
    right: 0 auto
}
* {
    background-color: #fff;
    font-family: "Louis George Cafe", Sans-Serif;
    margin: auto;
}
.center {
    display: block;
    margin: auto;
    width: 30em;
    padding-top: 20px;
    text-align: center;
}
#footer {
    width: 100%;
    bottom: 0;
    position: fixed;
    margin: auto;
    text-align: center;
    padding: 1em;
    background-color: #2c2c2c;
    color: #e0e0e0;
}
#socials {
    padding-bottom: 0;
    padding: 0;
    width: 50%;
    color: #2c2c2c;
}
div.center {
    color: black;
    font-size: 50px;
    position: absolute;    
    left: 50%;
    transform: translate(-50%,0);
}
a:link {
    color: #2c2c2c;
}
a:visited {
    color: #2c2c2c;
}
.right {
    flex: 66.66%;
    padding: 5px;
}
.left {
    flex: 33.33%;
    padding: 5px
}
ul {
    right: 75%;
    left: 25%;
}

.card {
    margin: 10 auto;
}

p {
    font-size: 24px;
}
.row {display: flex; flex-wrap: wrap; padding: 5px;}
.col {flex: 30%; padding: 5px;}
.col img {
    margin-top: 6px;
    vertical-align: middle;
    float: left;
    padding: 1px;
}
.dropbtn {
    background-color: #2c2c2c;
    color: #e0e0e0;
    padding: 1em;
    font-size: 48px;
    border: none;
  }
  .dropdown {
    position: relative;
    display: inline-block;
    color: #2c2c2c;
 
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #2c2c2c;
    min-width: 160px;
    z-index: 1;
    font-size: 36px;
  }
  .dropdown-content a {
    color: #e0e0e0;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color:#2c2c2c;
  }
  .dropdown-content a:hover {background-color: #e0e0e0; color: #2c2c2c}
  .dropdown:hover .dropdown-content {display: block;}
  .dropdown:hover .dropbtn {background-color: #2c2c2c; color: #e0e0e0}

  .collage {
      padding: 3em;
  }

  h2.lg {
      font-size: 48px;
  }
  .centerv {
    left: auto;
    right: auto;
    text-align: center;
  }

.mid {
    width: 80%;
}
i#bars {
    background-color: #2c2c2c
}
footer#collections {
    bottom: 0;
}
.navbar {
    background-color: #3d3d3d;
    color:#3d3d3d;
    width: 100%;
}
.navbar-toggler {
    background-color: #3d3d3d;
    color:#e0e0e0;
    border-radius: 0;
    width: 100%;
    position: static;
    margin-top: -10px;

}
nav.navbar{
    background-color: #3d3d3d;
    color:#3d3d3d;
    width: 100%;
    border-radius:0%;
    padding:0;
    border:0;
    margin: 0;
    border: none;
}
.nav-link {
    background-color: #3d3d3d;
    color: #e0e0e0;
    width: 100%;
}
#link-text {
    color: #e0e0e0;
    width: 100%;
    padding: 10;
}
#link-text-2 {
    color: #e0e0e0;
    width: 94px;
    text-align:left;
}
.dropdown-menu {
    background-color: #3d3d3d;
    color: #e0e0e0;
    text-align: center;
}
    
#nav {
    background-color: #3d3d3d;
    color:#3d3d3d;
    width: 100%;
}
ul.navbar {
    background-color: #3d3d3d;
    color:#3d3d3d;
    width: 100%;
}
li.nav-item {
    background-color: #3d3d3d;
    color:#3d3d3d;
    width: 100%;
    text-align: center;
}
div#navbarSupportedContent.navbar-collapse {
    background-color: #3d3d3d;
    width: 100;
    position: static;
    margin-top: -10px;
}
.carousel-next-icon:after {
    content: '›';
    font-size: 100px;
    color: #2c2c2c;
}
.carousel-prev-icon:after {
    content: '‹';
    font-size: 100px;
    color: #2c2c2c;
}
.jumbotron{
    background-color:#2c2c2c;
    height: 15px;
    text-align: center;
    padding-top: 0;
}
h1 {
    width: 100%;
}
main.homepage {
    vertical-align: middle;
    padding-top:6em;
}
.navbar {
    background-color: #3d3d3d;
    color:#3d3d3d;
    width: 100%;
}
.navbar-toggler {
    background-color: #3d3d3d;
    color:#e0e0e0;
    border-radius: 0;
    width: 100%;
    position: static;
    margin-top: -10px;

}
nav.navbar{
    background-color: #3d3d3d;
    color:#3d3d3d;
    width: 100%;
    border-radius:0%;
    padding:0;
    border:0;
    margin: 0;
    border: none;
}
.nav-link {
    background-color: #3d3d3d;
    color: #e0e0e0;
    width: 100%;
}
#link-text {
    color: #e0e0e0;
    width: 100%;
    padding: 10;
}
#link-text-2 {
    color: #e0e0e0;
    width: 94px;
    text-align:left;
}
.dropdown-menu {
    background-color: #3d3d3d;
    color: #e0e0e0;
    text-align: center;
}
    
#nav {
    background-color: #3d3d3d;
    color:#3d3d3d;
    width: 100%;
}
ul.navbar {
    background-color: #3d3d3d;
    color:#3d3d3d;
    width: 100%;
}
li {
    background-color: #3d3d3d;
    color:#3d3d3d;
    width: 100%;
    text-align: center;
}
div#navbarSupportedContent.navbar-collapse {
    background-color: #3d3d3d;
    width: 100;
    position: static;
    margin-top: -10px;
}
div.dropdown-menu.show {
    background-color: #3d3d3d;
}
@media only screen and (max-width: 375px) {
    h1 {
        width: 50%;
    }
}
@media only screen and (max-width: 518px) {
    h1 {
        width: 50%;
    }
}
a.white {
    color: #e0e0e0e0;
    text-decoration: none;
}
a.white:hover{
    color: #e0e0e0e0;
    text-decoration: none;
}
            
